body {
    margin: 0;   
        
}

header {
    background-color: grey;
    height: 100px; 
    padding-top: 1px; 
}

main {
    margin-left: 20px;
    font-size: 12px;         
    font-family: "Courier New";
    text-align: justify;
    margin-right: 20px;
}

.boldText {
  font-weight: bold;
}

/* Contenedor principal de la lista */
.vignetteWithdot {
  padding-left: 20px;   /* Deja espacio a la izquierda para que se vean los puntos */
  margin: 0;
}

/* Cada elemento de la lista (los cerditos) */
.vignetteWithdot li {
  list-style-type: "• "; /* Ponemos el punto directamente como viñeta nativa */
  margin-bottom: 14px;   /* Espacio entre cada cerdito */
  line-height: 1.5;      /* Hace el texto más cómodo de leer */
}




.numberedList {
    list-style: none;       
    padding: 0;             
   /* counter-reset: mi-contador; */

}



footer {
    background-color: red;
    padding-bottom: 30px;
    padding: 20px;
    
}