body {
    margin: 0;   
        
}

header {
    background-color: #C86A4B;
    height: 100px; 
    padding-top: 1px; 
    text-align: center;    
}

main {
    font-size: 12px;         
    font-family: "Courier New";
    text-align: justify;
    background-color: #D2B48C; 
    padding: 20px;
    
}

.vignetteWithdot {
  padding-left: 20px;   
  margin: 0;
}

.vignetteWithdot li {
  list-style-type: "• "; 
  margin-bottom: 14px;   
  line-height: 1.5;      
} 

section {
    margin-bottom: 20px; 
}






img {
    width: 900px;
    height: 490px;
    display: block;     
    margin-left: auto;  
    margin-right: auto; 
}


.boldText {
  font-weight: bold;
}



 
.numberedList {
  padding-left: 24px;   
  margin: 0;
}

.numberedList li {
  list-style-type: decimal; 
  margin-bottom: 16px;      
  line-height: 1.5;         




footer {
    background-color: red;
    padding-bottom: 10px;
    padding: 20px;
    
}